<div id="education">
  <h2>
    <%= I18n.t("education.title") %>
  </h2>
  <ul>
    <% data.education.colleges.each do |college| %>
    <li>

      <%= college.dates.start %>
      <%= college.dates.end %>
      <%= college.course %>
      <a href="<%= college.url %>" target="_blank">
        <%= college.institution %>
      </a>
    </li>
    <% end %>
  </ul>
</div>

education: