<div id="experience">
  <h2>
    <%= I18n.t("experience.title") %>:
  </h2>
  <ol>
    <% data.experience.jobs.each do |job| %>
        <li data-year="<%= job.dates.start.split("/")[1] %>">
          <div class="employer">
            <span class="label">
              <%= I18n.t("experience.employer") %>:
            </span>
            <a href="<%= job.employer.url %>" target="_blank">
              <%= job.employer.name %>
            </a>
            <span class="sector">
              <%= job.employer.sector %>
            </span>
          </div>
          <div class="dates">
            <span class="label">
            <%= I18n.t("experience.dates.title") %>:
            </span>
            <%= job.dates.start %>
            <% if job.dates.end != "" %>
              <%= I18n.t("experience.dates.to") %>
              <%= job.dates.end %>
            <% end %>
          </div>
          <div class="ocuppation">
            <span class="label">
              <%= I18n.t("experience.ocuppation") %>:
            </span>
            <%= job.ocuppation %>
          </div>
          <span class="label">
            <%= I18n.t("experience.activities") %>:
          </span>
          <ul>

            <% job.activities.each do |activitie| %>
              <li>
                <%= activitie %>
              </li>
            <% end %>
          </ul>
        </li>
    <% end %>
  </ol>
</div>