---
title: Curriculum Vitae
---

<%= partial "extras" %>

<div id="curriculum">

    <%= partial "header" %>

    <%= partial "about" %>

    <section>

      <%= partial "experience" %>

      <%= partial "skills" %>

      <%= partial "languages" %>

    </section>

    <section>

      <%= partial "education" %>

    </section>

</div>
