---
title: Curriculum Vitae
---

<%= partial "extras" %>

<div class="curriculum">

    <%= partial "header" %>

    <%= partial "about" %>

    <section>

      <%= partial "experience" %>

      <%= partial "skills" %>

    </section>

</div>
