<!-- <title>Page Title. Maximum length 60-70 characters</title> -->
<meta name="description" content="<%= data.meta.general.description %>" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="<%= data.meta.twitter.card %>">
<meta name="twitter:site" content="<%= data.meta.twitter.site %>">
<meta name="twitter:title" content="<%= data.meta.twitter.title %>">
<meta name="twitter:description" content="<%= data.meta.twitter.description %>">
<meta name="twitter:creator" content="<%= data.meta.twitter.creator %>">
<!-- Twitter Summary card images must be at least 200x200px -->
<meta name="twitter:image" content="<%= data.meta.twitter.image %>">

<!-- Open Graph data -->
<meta property="og:title" content="<%= data.meta.opengraph.title %>" />
<meta property="og:type" content="<%= data.meta.opengraph.type %>" />
<meta property="og:url" content="<%= data.meta.opengraph.url %>" />
<meta property="og:image" content="<%= data.meta.opengraph.image %>" />
<meta property="og:description" content="<%= data.meta.opengraph.description %>" />
<meta property="og:site_name" content="<%= data.meta.opengraph.site_name %>" />
<meta property="fb:admins" content="<%= data.meta.opengraph.admins %>" />